[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.9.1"
django-rest-auth = "==0.9.3"
django-allauth = "==0.39.1"
Django = "==2.2.13"

[dev-packages]

[requires]
python_version = "3.8"
